binaries/
launcher/
platform_specific_game_data/
*.ani
*.anim
*.bank
*.bin
*.bk2
*.cur
*.dat
*.dds
*.flac
*.mb
*.mesh
*.mp3
*.otf
*.png
*.psd
*.splnet
*.tga
*.ttf
*.xcf

**/gfx/map/map_object_data/generated/*
game/tools/mapeditor/map_editor_status.txt
